* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
}

.diary-list {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.entries {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.date-entry-wrapper {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.date-box,
.icon-box,
.content-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.icon-box {
    font-size: 20px; 
}

.date-box {
    font-weight: bold; 
}

.back-to-calendar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -5px; 
    position: relative;
    left: -420px; 
}

