/* CheckDiary.css */
/* 기본 스타일 유지 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
}

.diary-list {
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.entries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: calc(100%); 
    justify-content: center; 
}

.date-entry-wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.date-box,
.icon-box,
.content-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.icon-box {
    font-size: 20px; 
}

.date-box {
    font-weight: bold; 
}

.back-to-calendar,
.delete-calendar {
    padding: 8px 16px;
    border-radius: 3px; 
    font-size: 14px; 
    margin-right: 10px;
}

.diary-entries {
    margin-right: 10px; 
}

.delete-calendar {
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ff4d4d;
    color: white;
}

.back-to-calendar {
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    background-color: #0074d9;
    color: white;
    border-radius: 5px;
}